* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  outline: none;
}

body {
  margin: .5em 0em;
  font-size: 2.35em;
  font-family: serif;
}

img {
  width: 35vw;
}

.nextclass {
  opacity: 55%;
}

.nextclass a {
  color: black;
}

pre {
  /* color: red; */
  font-size: .75em;
  padding: .25em 2.4em 0.25em 2.6em;
  font-family: serif;
  white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
  white-space: -pre-wrap; /* Opera */
  white-space: -o-pre-wrap; /* Opera */
  white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
  word-wrap: break-word; /* IE 5.5+ */
}

pre a {
  border-bottom: 1px solid black;
  color: black;
}

pre a:hover {
  color: red;
  border-bottom: 1px solid red;
  cursor: alias;
}

.codeblock {
  font-family: monospace;
  padding: .25em 2.4em 0.25em 0em;
  margin-left: 3.25em;
  margin-right: 4.25em;
  background-color: mistyrose;
}

code{
  background-color: mistyrose;
}

h1 {
  font-size: 1em;
  font-weight: 100;
  text-align: center;
}

p {
  font-size: .75em;
  padding: .25em 2.4em 1em 2.6em;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
  cursor: alias;
}

p a{
  border-bottom: .5px solid;
}

nav {
  border-top: 2px solid red;
  margin-bottom: 2em;
  text-align: center;
  width: 100%;
  position: sticky;
  top: 0px;
}

ol {
  counter-reset: item;
}

li {
  display: block;
}

li:before {
  content: counters(item, ".") ". ";
  counter-increment: item;
}

.accordion {
  background-color: rgba(255, 255, 255, 0);
  font-family: serif;
  font-size: 1em;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
}

.accordion:hover {
  color: red;
}

.panel {
  display: none;
  overflow: hidden;
}

footer {
  font-size: .5em;
  padding: 4em 2.4em 1em 2.6em;
  position: relative;
  bottom: 0px;
  text-align: justify;
  text-justify: inter-word;
}




/*   Responsive
**********************************/
@media screen and (max-width: 812px) {
  body {
    font-size: 3.1em;
    margin: .5em 0em;
    background-color: mistyrose;
  }

  nav {
    display: none;
  }

  .accordion {
    font-size: 1em;
    color: black;
  }

  h1 {
    margin-bottom: 1.5em;
  }

  p {
    font-size: 1em;
    padding: .25em .25em 1em 2.75em;
    text-align: left;
    hyphens: auto;
  }

  p a{
    border-bottom: 2.5px solid;
  }

  footer {
    font-size: 1em;
  }

  img {
    width: 75vw;
  }
}
